{% extends 'catalog/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна. Запросите сброс пароля.</p>
    {% endif %}
{% endblock %}