{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Карточка продукта</h1>
    </div>
</section>
<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h3 class="my-0 font-weight-normal">{{ object.name }}</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title pricing-card-title">RUR {{ object.price }}</h5>
        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            <img src="{{ object.image|mediapath }}" class="img-fluid rounder-start">
            <table class="table table-striped">
                <tr>
                    <td class="w-25">Описание</td>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <td class="w-25">Категория</td>
                    <td>{{ object.category }}</td>
                </tr>
                <tr>
                    <td class="w-25">Дата создания</td>
                    <td>{{ object.create_date }}</td>
                </tr>
                <tr>
                    <td class="w-25">Дата обновления</td>
                    <td>{{ object.update_date }}</td>
                </tr>
            </table>
        </ul>
    </div>
</div>
{% endblock %}