{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">

        <div class="row text-start">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td class="w-25">Наименование товара</td>
                                <td>{{ object_list.name }}</td>
                            </tr>
                            <tr>
                                <td class="w-25">Изображение</td>
                                <td>{{ object_list.image }}</td>
                            </tr>
                            <tr>
                                <td class="w-25">Описание</td>
                                <td>{{ object_list.description }}</td>
                            </tr>
                            <tr>
                                <td class="w-25">Категория</td>
                                <td>{{ object_list.category }}</td>
                            </tr>
                            <tr>
                                <td class="w-25">Цена</td>
                                <td>{{ object_list.price }}</td>
                            </tr>
                            <tr>
                                <td class="w-25">Дата создания</td>
                                <td>{{ object_list.create_date }}</td>
                            </tr>
                            <tr>
                                <td class="w-25">Дата обновления</td>
                                <td>{{ object_list.update_date }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %}